body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
    
}

.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166, 0, 0.6); 
    opacity: 0;
    animation: anim 8s forwards;
     filter: hue-rotate(0deg);/* Pour réaliser un changement de couleur selon la roue des couleurs depart 0deg */ 
}


@keyframes anim {
    to {
        top: -250px;
        left: var(--left); /* Pour déplacer les bulles de gauche à droite ont injecte une variable pour JS*/
        opacity: 1;
        filter: hue-rotate(720deg);/* Pour réaliser un changement de couleur selon la roue des couleurs jusqu'à 720deg */
    }
    }

    h3 {
        font-size: 10rem;
        text-align: right;
        margin-top: 20px;
        margin-right: 50px;
        color: rgba(128, 128, 128, 0.557)
        ;
    }
